html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

.download-button {
  width: 100%;
}

.w3-button:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #fff;
  background-color: #000;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.w3-card:hover {
  background-color: #333;
  transition: background-color 0.5s ease-in-out;
}

.skill-icon {
  transition: transform 0.3s ease-in-out;
}

.skill-icon:hover {
  transform: rotate(360deg);
}

.section-header {
  position: relative;
  display: inline-block;
}

.section-header:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.section-header:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

html {
  scroll-behavior: smooth;
}

body.light-mode {
  background-color: #fff !important;
  color: #000 !important;
}

body.dark-mode {
  background-color: #000 !important;
  color: #fff !important;
}
body.dark-mode a,
body.dark-mode .w3-container,
body.dark-mode .w3-card {
  background-color: #000 !important;
  color: #fff !important;
}

#themeToggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

body.dark-mode {
  background-color: #000;      /* page entière */
  color: #fff;
}

body.dark-mode .w3-white {
  background-color: #333 !important; /* ou #000 suivant ton goût */
}

body.dark-mode .w3-text-black {
  color: #fff !important;
}

body.dark-mode .w3-button,
body.dark-mode a.download-link button {
  background-color: #444 !important;
  color: #fff !important;
}

body.dark-mode .w3-border-white {
  border-color: #555 !important;
}

body.light-mode .w3-border-white {
  border-color: #000 !important;
}

body.light-mode .w3-teal {
  background-color: teal !important;
  color: #fff !important;
}

body.light-mode .w3-text-grey {
  color: #555 !important;
}

body.light-mode .w3-black {
  background-color: #fff !important;
  color:            #000 !important;
}

body.light-mode .w3-text-white {
  color: #000 !important;
}

body.light-mode .w3-border-white {
  border-color: #000 !important;
}

body.light-mode .w3-white {
  background-color: #fff !important;
  color:            #000 !important;
}

body.light-mode .w3-text-grey {
  color: #555 !important;
}
